{% extends 'layout.html' %}
{% block body %}
<script >
$(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }

      });
  });
  
});
</script>

<div class="row">
	<form class ="form-inline " action="analyze" method="POST" enctype="multipart/form-data">
	
		<div class="col-lg-6 col-sm-6 col-12">
			<div class="input-group">
            	<label class="input-group-btn">
                	<span class="btn btn-primary">
                    	Choose an Animal&hellip; <input type="file" id="file" name="file" class="inputfile">
                    </span>
                </label>
            <input type="text" class="form-control" readonly>
            </div>
        </div>
        
        <div class="col-lg-6 col-sm-6 col-12">
        	<div class="input-group">
        		<label class="input-group">
                	Describe your feelings about it: <br><input type="text" class="form-control-text" name="description" id="description">
         		</label>
         	</div>
   		</div>
   		
   		<br><br><br>
		
		<div class="col-lg-6 col-sm-6 col-12">
			<div class="input-group">
		 		<input type="submit" class="btn btn-primary btn-lg" name"submit" value="Submit">
		 	</div>
		</div>
		
	</form>
	
</div>
		
			{% if image_data != null %}
				{% if image_data.image != None and image_data.label != None %}
					<img height="250" src="{{image_data.image}}" alt="{{image_data.label}}"/><br/>
				{% endif %}
				{% if image_data.feelings != None and image_data.label != None %}
					<p>You seem to {{image_data.feelings}} {{image_data.label}}s.</p>
				{% elif image_data.label != None %}
					<p>Please enter a description of how you feel about {{image_data.label}}s.</p>
				{% else %}
					<p>Please upload an image of an animal, and give me a description of how you feel about it.</p>
				{% endif %}
			{% endif %}

{% endblock %}

